name: Generate pacman contribution graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: UmbraZxy
          outputs: |
            output/pacman-contribution-graph.svg
            output/pacman-contribution-graph-dark.svg
